@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* common style  */
body {
    font-family: 'Work Sans', sans-serif;
    max-width: 1500px;
    margin: 0px auto;
}
.section-title {
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
}
.description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
main {
    padding: 0px 100px 0px 100px;
}
/* header part style  */

/* nav bar style  */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 10px 100px;
    margin-top: 40px;
    margin-bottom: 10px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-title {
    display: flex;
    align-items: center;
}
.nav-title img {
    max-width: 60px;
    max-height: 40px;
    margin-right: 10px;
}
.nav-menu ul {
    display: flex;
    align-items: center;
}
.nav-menu ul li {
    list-style: none;
    margin-right: 20px;
}
.nav-menu ul li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.nav-item-follow {
    border-radius: 8px;
    padding: 10px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
}
.fa-youtube {
    color: red;
}

/* banner part style  */
.banner {
    background-color: rgba(237, 149, 212, 0.166);
    margin-bottom: 100px;
}
.banner-upper {
    display: flex;
    padding: 50px;
}
.banner-upper-info-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-upper-image-div {
    width: 50%;
}
.banner-upper-image {
    max-width: 100%;
}
.banner-upper-info h2 {
    color: #0B0223;
}
.banner-upper-info h1 {
    font-size: 80px;
    font-weight: 800;
    margin: 0px;
}
.banner-upper-info p {
    margin: 10px;
}
.banner-upper-info i {
    margin-right: 5px;
    padding: 5px;
    border: 3px solid #FFF;
    border-radius: 5px;
    color: #FF42A5;
}
.banner-upper-info p span {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.btn-primary {
    padding: 15px 30px;
    border: 0px;
    border-radius: 10px;
    background-color: #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* games-vedio-container */
.games-vedio-collection {   
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.game-vedio {
    margin-right: 5px;
}
.games-vedio-info {
    text-align: center;
}
.game-vedio-img {
    max-width: 240px;
    max-height: 280px;
}
/* middle section */
.middle-section {
    display: flex;
    margin-bottom: 100px;
}
.middle-section > div {
    width: 50%;
}
.middle-section-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.transform-img-div-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.transform-img-div {
    position: relative;
}
.parent-img {
    max-width: 450px;
    max-height: 350px;
}
.absolute-img {
    position: absolute;
    max-width: 250px;
    max-height: 150px;
    bottom: -10%;
    left: -10%;
}

/* game container  */
.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;
    border: 1px solid red;
    border-radius: 50px;
    background: #f4ecec;
}
.game img {
    width: 50px;
    height: 50px;
}
/* footer part style */
footer {
    background-color: #d6d2d2;
}
.footer-item-container {
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 70px;
    margin-top: 70px;
}
.footer-title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    gap: 20px;
    padding-right: 50px;
}
.about-company-container, .social-media-container, .terms-and-condition-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.about-company-container p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
    margin-top: 0px;
}
.social-media-container a {
    text-decoration: none;
}
.social-media-container i {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}
.terms-and-condition-container p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}
.authorship-container {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

/* mobile device style  */
@media screen and (max-width: 767px) {
    /* nav var style  */
    .section-title {
        font-size: 40px;
    }
    .nav-container,
    .nav-menu ul {
        flex-direction: column;
    }
    .nav-container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav-title {
        margin-bottom: 0px;
    }
    .nav-menu {
        margin-top: 0px;
    }
    .nav-menu ul li {
        margin-bottom: 10px;
    }
    /* banner part style  */
    .banner-upper {
        flex-direction: column-reverse;
        align-items: center;
        padding: 50px 5px;
    }
    .banner-upper-info-div {
        width: 100%;
        padding-top: 50px;
    }
    .banner-upper-image-div {       
        width: 100%;
    }
    /* middle section style  */
    .middle-section {
        flex-direction: column;
    }
    .middle-section div {
        width: 100%;
        text-align: center;
    }
    .transform-img-div {
        max-width: 350px;
    }
    .parent-img {
        max-width: 350px;
        max-height: 250px;
    }
    .absolute-img {
        max-width: 150px;
        max-height: 100px;
        bottom: -10%;
        left: 1%;
    }
    /* gamming vedio part  */
    .games-vedio-collection {   
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .game-vedio-img {
        max-width: 300px;
        max-height: 350px;
    }
    main {
        padding: 5px;
    }
    .games-container-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .games-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        max-width: 450px;
    }
    .game {
        padding: 0px 5px;
    }
    .game img {
        width: 40px;
        height: 40px;
    }
    /* footer part style  */
    .footer-item-container {
        padding: 0px;
    }
    .footer-item-container > div {
        max-width: 300px;
    }
    .about-company-container, .social-media-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;      
    }
    .about-company-container p {
        margin-right: 0px;
    }
    .terms-and-condition-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    } 
}

/* tablet device style  */
@media screen and (min-width:768px) and (max-width: 1024px) {
    .games-vedio-collection {   
        flex-wrap: wrap;
    }
    .games-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    /* middle sectin style  */
    .middle-section {
        flex-direction: column;
    }
    .middle-section div {
        width: 100%;
        text-align: center;
    }
    .transform-img-div {
        max-width: 610px;
        max-height: 500px;
    }
    .absolute-img {
        bottom: -10%;
        left: 12%;
    }
}